{% extends 'layout.html' %}

{% block content %}
  <h1>News feed</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.text }}
    <input type="submit" value="Post"/>
  </form>

  {% for post in posts %}
    {% if post.text|length >= 15 %}
      <h3>{{ post.text|slice:":15" }}...</h3>
    {% else %}
      <h3>{{ post.text}}</h3>
    {% endif %}

    <a href="{% url 'post_details' post.pk %}"><small>see more</small></a>
    <br>
    by <b><small>{{ post.author }}</small></b> on <b><small>{{ post.date_added }}</small></b>
    <hr>
  {% endfor %}
{% endblock %}
